RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<IfModule mod_expires.c>
<FilesMatch "\.(xml|txt|jpg|gif|swf|png)$">
    #A week in seconds
    ExpiresDefault A432000
    <IfModule mod_headers.c>
    Header append Cache-Control "cache"
    </IfModule>
</FilesMatch>
</IfModule>


#Set up caching on javascript files
<IfModule mod_expires.c>
    <FilesMatch "\.(js|css)$">
        ExpiresDefault A7200
        <IfModule mod_headers.c>
        Header append Cache-Control "cache"
        </IfModule>
        #Compress
        <IfModule mod_deflate.c>
            SetOutputFilter DEFLATE
        </IfModule>
    </FilesMatch>
</IfModule>